body {
  font: 14px sans-serif;
  padding-top: 20px;
}

#main {
  margin: 0 auto;
}

#svg-chart {
  padding-top: 50px;
}

.prov-label {
  font-weight: bold;
}

.riding_border {
  stroke: black;
  stroke-width: 2;
  fill: none;
  /*fill: black;*/
}

.region .region_border {
  stroke: grey;
  stroke-width: 0;
  /*stroke-dasharray: 4,2;*/
  fill: none;
}

.mp.NDP { fill: #F78320; }
.mp.Conservative { fill: #263893; }
.mp.Liberal { fill: #D71921; }
.mp.Green { fill: #3D9B35; }
.mp.Bloc { fill: #00A7EC; }
.mp.Other { fill: grey; }

.chart {
  position: relative;
}

.legend {
}

.dropdown-div option {
  font: 16px sans-serif;
}

/*hide them all initially*/
.FPTP, .DMP, .MMP, .IRV {
  display: none;
}
