body {
  font: 14px sans-serif;
  padding-top: 20px;
}

#main {
  margin: 0 auto;
  width: 95%;
  max-width: 900px;
}

#svg-chart {
  padding-top: 50px;
}

.prov-label {
  font-weight: bold;
}

.riding_border {
  stroke: black;
  stroke-width: 2;
  fill: none;
  /*fill: black;*/
}

.region .region_border {
  stroke: grey;
  stroke-width: 0;
  /*stroke-dasharray: 4,2;*/
  fill: none;
}

.NDP { fill: #F78320; }
.Conservative { fill: #263893; }
.Liberal { fill: #D71921; }
.Green { fill: #3D9B35; }
.Bloc { fill: #00A7EC; }
.Other { fill: grey; }
.black { fill: black; }

.chart {
  position: relative;
}

.dropdown-div option {
  font: 16px sans-serif;
}

/*hide them all initially*/
.FPTP, .DMP, .MMP, .IRV {
  display: none;
}

.title {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}

.legend {
  width: 100%;
}

#section2 .legend {
  padding-top: 20px;
  overflow: auto;
}

#section2 .legend .entries {
  padding-right: 15px;
}
#chart .legend .entries {
  padding-right: 15px;
}

#bar-charts {
  padding-top: 20px;
}
