body {
  /*font: 14px sans-serif;*/
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  background-color: #FCFCFC;
}

#main, #nav-inner {
  margin: 0 auto;
  width: 95%;
  max-width: 900px;
  /*min-width: 770px;*/
}

#nav {
  background-color: white;
  /*height:150px;*/
  opacity: 1;
  left: 0;
  right: 0;
  /*box-shadow: 0px 1px 50px #5E5E5E;*/
  position:fixed;
  top:0px;
  box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2)
}

#svg-chart {
  padding-top: 50px;
}

.prov-label {
  font-weight: bold;
}

.riding-border {
  stroke: black;
  stroke-width: 2;
  fill: none;
  /*fill: black;*/
}

.riding.regional .riding-border {
  stroke-width: 0;
}

.region-border {
  stroke: black;
  /*stroke-width: 2;*/
  stroke-width: 0;
  stroke-dasharray: 4,2;
  fill: none;
}

.NDP { fill: #F78320; }
.Conservative { fill: #263893; }
.Liberal { fill: #D71921; }
.Green { fill: #3D9B35; }
.Bloc { fill: #00A7EC; }
.Other { fill: grey; }
.black { fill: black; }
.Total { fill: none; }

.chart {
  position: relative;
  z-index: -1;
}

.dropdown-div option {
  font-size: 16px;
}
.dropdown-div {
  padding-top: 5px;
}
/*hide them all initially*/
.FPTP, .DMP, .MMP, .IRV {
  display: none;
}

.legend {
  width: 100%;
}

#section2 .legend {
  padding-top: 20px;
  overflow: auto;
}

#section2 .legend .entries {
  padding-right: 15px;
}
#chart .legend .entries {
  padding-right: 15px;
}

#bar-charts {
  padding-top: 20px;
}

select {
  display: block;
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  text-transform: none;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 2rem;
  color: steelblue;
}

.changeable {
  color: steelblue;
}

label {
  font-size: 0.8rem;
  /*color: #9e9e9e;*/
  color: grey;
}

select:disabled {
  color: rgba(0, 0, 0, 0.3);
}

select:focus {
  outline: 1px solid #c9f3ef;
}

.thing {
  stroke: black;
  stroke-width: 3px;
}

.label-line {
  stroke: grey;
  stroke-width: 1px;
  /*stroke-dasharray: 2,1;*/
}

.source {
  /*color: grey;*/
  /*text-align: right;*/
  font-style: italic;
}

/*.region-label {*/
  /*font-size: 0.8rem;*/
/*}*/

.center {
  text-align: center;
  width: 100%;
}
